.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sign-in-card {
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background-color: white;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  input {
    padding: 10px !important;
  }
  
  mat-error {
    color: var(--error-color);
    font-size: 12px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--disabled-color);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  .submit-button:enabled {
    background-color: var(--primary-color);
    color: white;
  }
  
  .submit-button:enabled:hover {
    background-color: white !important;
    color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
  }
  
  .register-link {
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
  }
  
  .register-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }